.top-banner{  margin-top: -3%;
    background-image: url(image/images/Ukrainian_refugees_.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height:750px;
    background-size:cover;
}
h1{   
    color: crimson; 
text-align: center;
font-size: 130px;
font-style: normal
}
.alignment{
    text-align: center;
}
.color{ font-style: normal;
 
    font-size: 50px;
    margin-top: 100px;
    background-color: aqua;
}
.other-amount{
    margin-top: 3%;
    margin-left: 200px;
    width: 75%;
    background-color: bisque;
    text-align: center;
    border: none;
    padding: 5px;
}
.no-box{
    border: none;
}
.display-flex{
margin-left: 200px;
    display: flex;}
.box-setup{
    padding: 20px 2px;
    color: blueviolet;
     width: 15%;
    font-size: 50px;
    margin-top: 2%;
    margin-right: 4%;
    background-color: bisque;
    border: none;
}
.font-set{
    margin-top: -5%;
    font-size: 30px;
    color: black;
    text-align: center;
    font-weight: 600;
}
.box-1{ margin-right: 15%;
    margin-top: 5%;
    width: 30%;
    padding-bottom: 100px;
    padding-right: 30px;
    padding-left: 20px;
    width: 400px;
    height: 400px;
    background-color: aliceblue;
    display:flex;
}
#orange-color{
    color: orange;
}
.position-center{ 
    font-style: normal;
    background-color: orange;
    font-size: 50px;
    margin-top: 5px;
    margin-left: 770px;
    padding: 10px 20px;
}
body{
    font-family: 'Libre Baskerville', serif;
font-family: 'Poppins', sans-serif;
}
.resize{
    width: 40%;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 30px;
}
.adjustment{
    width: 200px;
    font-size: 15px;
    margin-top: 5%;
    text-align: left;
    margin-left: -5%;
}
}
h3{
    text-align: left;
}
.box-2{margin-right: 15%;
    margin-top: 5%;
    width: 30%;
    padding-bottom: 100px;
    padding-right: 30px;
    padding-left: 20px;
    width: 400px;
    height: 400px;
    background-color: antiquewhite;
    display:flex;
}
.box-3{margin-right: 15%;
    margin-top: 5%;
    padding-bottom: 100px;
    padding-right: 30px;
    padding-left: 20px;
    width: 400px;
    height: 400px;
    background-color: aqua;
    display:flex;
}
.risks-display{
    margin-top: 100px;
    margin-left: -46px;
    display: flex;
}
h2{
    font-size: 50px;
}
.life-risks{
    width: 25%;
    margin-left: 10%;
    border: none;
    display: grid;
}
.pic-size{ margin-right: 50px; 
    padding-left: 50px;
    margin-left: 200px;
    width: 35%
}
.pic-size img{
    width: 120%;
}
.contact{
    width: 200px;
    height: 50px;
    border: 2px solid navy;
    font-size: 20px;
    background-color: azure;
    margin-top: 8%;
}
footer{font-size: 50px;
    font-style: italic;
    text-align: center;
    border-top: 2px solid crimson;
    border-bottom: 2px solid crimson;
    margin-top: 20px;
    font-weight: 500;
    background-color: black;
    color: crimson;
    height: 80px;
    text-align: center;

}
.update{
    margin-left: 11%;
    margin-bottom: -2%;
}
.margin{
    margin-bottom: -1%;
}
form{
    margin-top: 5%;
    margin-left: 11%;
    padding-top: 3%;
    ;padding-left: 7%;
    padding-right: 2%;
    width: 500px;
    height: 100px;
    border: 1px solid orange;
    background-color: antiquewhite;
    display: flex;
}
.color{background-color: rgb(150, 105, 172);
    font-size: 20px;
    margin-bottom: 10%;
    margin-top: 0%;
}
.background-color{
    font-size: 100%;
    background-color: darkgrey;
    width: 50%;
    margin-bottom: 10%;  
}